*.vscode
*.dSYM
example
*node_modules

# Compiled binaries / executables (no versionar)
mainApp
*.out
*.exe
a.out
hola
Demos/mainApp

dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
